# === Laravel standard ignore file ===

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
/.env.backup
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.idea
.phpunit.result.cache
.DS_Store
*.log
*.sqlite
/public/uploads/tmp
/.vscode
/.history

# === Additional Hostinger temporary files ===
/tmp
/sessions
